html {
    height: 100%;
  }
  h1{
    font-size: 28px;
    font-family: Copperplate;
    margin: 10px;
    border: 30px 40px solid;
    padding: 20px 30px 3px 1px;

  }
  body {
     display: block;
     margin: 50px;
     margin-left: 5%;
     margin-right: auto;
     font-family: Cambria;
     user-select: none;
     background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
  
  .jogo-da-velha {
    display: inline-flex;
    flex-direction: column;
    margin: 0px;
  }
  
  .linha {
    display: inline-flex;
  }
  
  .quadrado {
    background: linear-gradient(to right top, #ffffff, #e5e6e7, #cacecf, #b2b7b5, #9d9f9a);
    width: 80px; 
    height: 80px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .um {
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
  .dois {
    border-bottom: 1px solid;
    
  }
  
  .marcador {
    font-size: 90px;
    font-weight: 900;
  }
  .selecionado {
    cursor: default;
  }
  
  .placar{
    width: 250px; 
    height: 12px;
    border: 0px solid;
    display: flex;
  }
  .placar td {
      font-size: 10px;
      border: 30px 40px solid;
      padding: 9px 57px 8px 10px;
      font-family: Arial;
    color: #ffffff;
      background: linear-gradient(to bottom, #71726f, #555452, #3a3938, #201f1f, #000000);
  }
  